@if (drinks) {

<div class="box-home">
  <ion-card>
    <ion-card-title (click)="pushRouter('/list-drinks')">
      <ion-item>Bebidas</ion-item>
    </ion-card-title>
    <ion-card-content>
      <ion-list class="horizontal-list">
        <ion-grid>
          @for (drink of drinks; track $index) {

          <ion-card class="box-region" (click)="pushDetails(drink.id)">
            <ion-card-content>
              <img
                class="image-img"
                src="{{ drink.image }}"
                alt="{{ drink.nombre }}"
              />
            </ion-card-content>
            <ion-card-header>
              <ion-card-title>{{ drink.nombre }}</ion-card-title>
              <!-- <ion-card-subtitle>{{"lagarto"}}</ion-card-subtitle> -->
            </ion-card-header>
          </ion-card>
          }
        </ion-grid>
      </ion-list>
    </ion-card-content>
  </ion-card>
</div>

} @else {
<div class="box-spinner">
  <ion-spinner></ion-spinner>
</div>
}
