<ion-content [fullscreen]="true">
  <ion-card (click)="pushRouter('/list-pizzas')">
    <ion-card-title>
      <ion-item>Pizzas</ion-item>
    </ion-card-title>
    <ion-card-content>
      <img
        src="https://i.pinimg.com/736x/f5/07/50/f50750d89014cb1ae593ac6e76b77176.jpg"
        alt="pizzas"
      />
    </ion-card-content>
  </ion-card>

  <ion-card (click)="pushRouter('/list-drinks')">
    <ion-card-title>
      <ion-item>Bebidas</ion-item>
    </ion-card-title>
    <ion-card-content>
      <img
        src="https://i.pinimg.com/736x/f5/07/50/f50750d89014cb1ae593ac6e76b77176.jpg"
        alt="bebidas"
      />
    </ion-card-content>
  </ion-card>
</ion-content>
