   <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="box-header">
          <div class="box-header-img">
            <img
              src="assets/logo/rabilogo.png"
              alt="logo de la pizzeria rabit"
            />
          </div>
          <div>
            <h1>Rabit</h1>
            <ion-note>Pizzeria rabit</ion-note>
          </div>
        </div>
        <div>
          <app-toggle-theme />
        </div>

        <ion-list id="inbox-list">
          @for (p of appPages; track $index) {

          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              routerLinkActive="selected"
            >
              <ion-icon
                aria-hidden="true"
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>

          }
        </ion-list>
      </ion-content>
    </ion-menu>
